<h1>
	Brought to you by the great heroes of T-11!!!
</h1>
<h4>
	T-11 is the name... Procrastination is the game!!!
</h4>
<p>
	Fortuna, in Roman religion, goddess of chance or lot who became identified with the Greek Tyche;
	<br> the original Italian deity was probably regarded as the bearer of prosperity and increase.
	<br> As such we decided to name ourselves accordingly out of some sheer utter nonesense belief that
	<br> this will bear us good fortune!
</p>

<br>
<h2>
	And here are our great members:
</h2>
<div class="box">
	<div class="container">
		<img src="../../assets/images/MB.JPG" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Mahmoud Bahaa
				</h3>
				<p>
					"After all, to the well organized mind, death is but the next great adventure."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/OK.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Omar Khairy
				</h3>
				<p>
					"Its easy to say what if and paint the picture of a perfect world, But then what's the point of reality."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/AM.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Ahmed El Midany
				</h3>
				<p>
					"Sometimes its the people no one imagines anything of... Who do the things no one can imagine."
				</p>
			</div>
		</div>
	</div>
</div>
<div class="box">
	<div class="container">
		<img src="../../assets/images/karimShibl.JPG" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Karim Shibl
				</h3>
				<p>
					"I'm a 21 year old guy. I like to code and I'm aiming to be a good developer."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/AbdulRahmanHamahmi.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Abdulrahman Hamahmi
				</h3>
				<p>
					"I personally think that the best presents are those were we give time to others. It's the most valuable thing we have to
					give."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/OmarAshraf.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Omar Ashraf
				</h3>
				<p>
					"I am a 21 years old MET student hoping to make a difference in the world using lines of code and turn them from just ugly
					lines that no one notice to a piece of art"
				</p>
			</div>
		</div>
	</div>
</div>
<div class="box">
	<div class="container">
		<img src="../../assets/images/MostafaAhmed.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Mostafa Ahmed
				</h3>
				<p>
					"Too scared to dream But too dumb to die "
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/YaraDorgham.JPG" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Yara Dorgham
				</h3>
				<p>
					"This is yara dorgham ,21 years old ,Computer Engineering student."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/KhaledHassan.JPG" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Khaled Hassan
				</h3>
				<p>
					"I'm 21 years old. 37 - student at the faculty of media engineering and technology, Computer Science departement."
				</p>
			</div>
		</div>
	</div>
</div>
<div class="box">
	<div class="container">
		<img src="../../assets/images/MohamedHossam.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Mohamed Hossam
				</h3>
				<p>
					"I’m 20 years old. I’m addicted to RuneScape (the best MMORPG) and that’s why I’d love to be a game developer in the near
					future."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/AhmedSamy.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Ahmed Samy
				</h3>
				<p>
					"Skilled Chess player"
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/Ibraam Emad.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Ibraam Emad
				</h3>
				<p>
					"Computer Science Student and web developper to be :)"
				</p>
			</div>
		</div>
	</div>
</div>
<div class="box">
	<div class="container">
		<img src="../../assets/images/Ahmed Alaa.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Ahmed Alaa
				</h3>
				<p>
					"I am 21 years old. I love playing football."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/Omar El Gaml.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Omar El Gaml
				</h3>
				<p>
					"Briefly, A challenger who can't stop trying until he is done."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/Moustafa Atef.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Moustafa Atef
				</h3>
				<p>
					"I’m a 21 year-old MET student, I love to play and watch football, my favorite football team is Al-Ahly, My dream career
					is work as an AI Engineer and to implement AI in football and sports in general ."
				</p>
			</div>
		</div>
	</div>
</div>
<div class="box">
	<div class="container">
		<img src="../../assets/images/Mohamed Essam.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Mohamed Essam
				</h3>
				<p>
					"Ana betengana maba3etesh description."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/Ahmed Sameh.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Ahmed Sameh
				</h3>
				<p>
					"Ahmad Sameh, love technology, playing football, and music."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/Daniel Qaldes.JPG" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Daniel Qaldes
				</h3>
				<p>
					"A human being."
				</p>
			</div>
		</div>
	</div>
</div>
<div class="box">
	<div class="container">
		<img src="../../assets/images/Sarah Khaled.PNG" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Sarah Khaled
				</h3>
				<p>
					"MET 20 years old :)"
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/Ahmed Mofty.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Ahmed Mofty
				</h3>
				<p>
					"Best tennis player of all time."
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<img src="../../assets/images/Noura Ashraf.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">
				<h3>
					Noura Ashraf
				</h3>
				<p>
					"My hobbies are reading and writing."
				</p>
			</div>
		</div>
	</div>
</div>