<div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
        <h1 class="user__title">Join Our Glorious Site</h1>
    </header>
    
    <form class="form">
        <div class="form__group">
            <input type="text"  placeholder="Username" class="form__input" (input) = "onUpdateName($event)" />
        </div>
        
        <div class="form__group">
            <input type="email" id="email" placeholder="Email" class="form__input" (input) = "onUpdateEmail($event)" />
        </div>
        
        <div class="form__group">
            <input type="password" id="password" placeholder="Password" class="form__input" (input) = "onUpdatePass($event)" />
        </div>
        
        <button class="btn" type="button" (click)="onRegister()">Register</button>
    </form>
</div>