<div class="header-container left">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" class="navigation">
      <i class="nb-menu"></i>
    </a>
    <div class="logo" (click)="goToHome()">
      <img src="../../../../assets/images/logo.png">
      <span>Fortuna</span>
    </div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<button id="b1" class="button right" (click)="clicked()"> Logout </button>

<nb-actions size="medium" class="header-container right">
  <nb-action>
    <nb-user [nbContextMenu]="userMenu" [name]="user?.username"></nb-user>
  </nb-action>
</nb-actions>